html, body, div, section, ul, li, input, button, td, tr, table, span, button, article {
margin: 0px;
padding: 0px;
border: 0px;
}

body{font-family: 'Patua One', cursive;height:100%;}
p{font-size:16px;}
.margin-top{margin-top:100px;}
.end-of-page{margin: 40px 0;clear: both;}


/* Home Styles */

#homeBanner{
    width:100%;
    height:calc(100% - 65px);
    position:absolute;
    top:50px;
    left:0;
    background-image:url(../img/cctv3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display:block;
    overflow: hidden;  
}

#homeBannerOverlay{
    width:100%;
    height:calc(100% - 65px);
    position:absolute;
    top:50px;
    left:0;
    background: rgba(0,0,0,0.3);
    display:block;
    overflow: hidden;
}

#homeBannerContent{
    width:100%;
    height:calc(100% - 65px);
    position:absolute;
    top:50px;
    left:0;
    text-align: center;
    overflow: hidden;
    padding:0 15px;
}

#homeBannerContent h1{
    padding-top:70px;
    font-size:80px;
    color:whitesmoke;
    text-shadow: 1px 2px black;
}

#homeBannerContent h3{
    padding-top:10px;
    font-size:40px;
    color:whitesmoke;
    text-shadow: 1px 2px black;
}

#homeBannerContent button{
    margin-top:50px;
    font-size:30px;
    color:whitesmoke;
    text-shadow: 1px 2px black;
}

@media screen and (max-width:767px){
    #homeBannerContent h1{padding-top:40px;font-size:50px;}
    #homeBannerContent h3{font-size:28px;}
}

/* About Styles */

.first{position:relative;left:0;top:50px;}
.about-section{padding-top:40px;padding-bottom:40px;}
.about-section h1{padding-top:20px;padding-bottom:20px; font-size:40px;}

#about1{
    background-image:url(../img/cctv2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#about2{
    background-image:url(../img/cctv1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#about3{
    background-image:url(../img/indoor.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#about4{
    background-image:url(../img/outdoor.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

@media screen and (max-width:420px){
    #about1, #about2, #about3, #about4{min-height:200px;width:100%;}
}

/* Product Styles */

.first h1{padding-bottom:0;}
.first h3{padding-top:0;}
.product-section{padding-bottom:40px;}
.product-section h1{padding-top:20px;padding-bottom:20px; font-size:40px;}
.prod{width:80%;height:auto;display: block;margin:0 auto;}

#p1{
    background-image:url(../img/cam1.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#p2{
    background-image:url(../img/cam2.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}

#p3{
    background-image:url(../img/cam3.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    width:100%;
    min-height: 400px;
    display:block;
    position: relative;
    border:0;
    border-radius:10px;
}


/* Contact Styles */


.contact-info {list-style: none;padding: 0;margin: 0;font-size: 20px;}

.contact-info a {
  display: block;
  min-height: 30px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {background-image: url('../img/phone-icon.png');}
.contact-info li.mail a {background-image: url('../img/email-icon.png');}

@media screen and (min-width: 480px) {
  #primary {width: 50%;float: left;}
  #secondary {width: 40%;float:right;}
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #000;
}

/* Footer Styles */

html {position:relative;min-height:100%;}
body {margin-bottom:65px;}
.text-muted {float:left;margin: 20px 0;max-width:49%;display: block;}
.madeby{float:right;margin: 20px 0;max-width:49%;display: block;}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #000;
}

@media screen and (max-width:400px){
    footer p{
        font-size:90%;
    }
}


